
// COULEURS

$color-darker: #16171A;
$color-dark: #262930;
$color-light: #BEBFC1;
$color-lighter: #F2F2F2;
$color-grey: #5E5E5E;
$color-grey-light: #979797;

$color-blue: #26C6DA;
$color-indigo: #5C6BC0;
$color-deeppurple: #7E57C2;
$color-purple: #AB47BC;
$color-pink: #EC407A;
$color-red: #EF5350;
$color-deeporange: #FF7043;
$color-orange: #FFA726;
$color-yellow: #FFCA28;
$color-green: #66BB6A;
$color-teal: #26A69A;
$color-cyan: #26DAC5;


// DIMENSIONS

$border-radius: 4px;